/* src/components/TaskList.css */

.task-enter {
  opacity: 0;
  transform: translateY(-20px);
  transition: opacity 300ms ease-in-out, transform 300ms ease-in-out;
}

.task-enter-active {
  opacity: 1;
  transform: translateY(0);
}

.task-exit {
  opacity: 1;
  transform: translateY(0);
}

.task-exit-active {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 300ms ease-in-out, transform 300ms ease-in-out;
}
